<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
    <h2 class="text-center mb-4 login-form-title">Forgot password</h2>
    <form [formGroup]="forgotpassForm" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control border border-primary"
          id="email"
          [ngClass]="{
            'is-invalid': submitted && forgotpassForm.controls['email'].errors
          }"
          formControlName="email"
        />
        <div
          *ngIf="
            forgotpassForm.controls['email'].errors &&
            forgotpassForm.controls['email'].errors['required'] &&
            forgotpassForm.controls['email'].invalid &&
            (forgotpassForm.controls['email'].touched ||
              forgotpassForm.controls['email'].dirty ||
              submitted)
          "
          class="text-danger"
        >
          <span> Email is required </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"
          >Enter New Password</label
        >
        <input
          type="password"
          class="form-control border border-primary"
          id="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid': submitted && forgotpassForm.controls['password'].errors
          }"
        />
        <div
          *ngIf="
            forgotpassForm.controls['password'].errors &&
            forgotpassForm.controls['password'].errors['required'] &&
            forgotpassForm.controls['password'].invalid &&
            (forgotpassForm.controls['password'].touched ||
              forgotpassForm.controls['password'].dirty ||
              submitted)
          "
          class="text-danger"
        >
          <span *ngIf="forgotpassForm.controls['password'].errors['required']">
            Password is required
          </span>
          <span *ngIf="forgotpassForm.controls['password'].errors['minlength']">
            Password must be at least 6 digits
          </span>
        </div>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
