<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
    <h2 class="text-center mb-4 login-form-title">Forgot password</h2>
    <form>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Enter New Password</label
        >
        <input
          type="password"
          class="form-control border border-primary"
          id="exampleInputPassword1"
        />
      </div>

      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
